.desktopSearchForm{
  height: 40px;
  input{
    font-size: 12px;
    padding: 0 !important;
  }

}
.searchBtn{
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 14px !important;
  width: 30px;
  min-width: 0 !important;
}
.formWrapp{
  background: rgba(34, 34, 34, 0.7);
  border-radius: 20px;
  padding: 0 11px 11px;
  width: 375px;
  margin-right: -10px;
  .searchBtn{
    position: relative;
    top: 12px;
    right: -1px;
    padding-top: 0 !important;
  }
  .MuiFormControl-marginDense{
    margin-top: 0 !important;
  }
}
.mobil{
  //font-size: 1.2rem !important;
}
